Web References/SANITAS_WS/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:i0="http://tempuri.org/ds_citas.xsd" xmlns:tns="http://tempuri.org/SANITAS_WS/Service1" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/SANITAS_WS/Service1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/ds_citas.xsd" location="http://10.8.50.31/SANITAS_WS/Service1.asmx?schema=ds_citas" />
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/SANITAS_WS/Service1">
      <s:import namespace="http://tempuri.org/ds_citas.xsd" />
      <s:element name="ConsultaAgendaDia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="servicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="agenda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaAgendaDiaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaAgendaDiaResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/ds_citas.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ds_citas" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any namespace="http://tempuri.org/ds_citas.xsd" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaAgendaDiaSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaAgendaDia" />
  </wsdl:message>
  <wsdl:message name="ConsultaAgendaDiaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaAgendaDiaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaAgendaDiaHttpGetIn">
    <wsdl:part name="login" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="servicio" type="s:string" />
    <wsdl:part name="agenda" type="s:string" />
    <wsdl:part name="fecha" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultaAgendaDiaHttpGetOut">
    <wsdl:part name="Body" element="tns:ds_citas" />
  </wsdl:message>
  <wsdl:message name="ConsultaAgendaDiaHttpPostIn">
    <wsdl:part name="login" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="servicio" type="s:string" />
    <wsdl:part name="agenda" type="s:string" />
    <wsdl:part name="fecha" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultaAgendaDiaHttpPostOut">
    <wsdl:part name="Body" element="tns:ds_citas" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="ConsultaAgendaDia">
      <wsdl:input message="tns:ConsultaAgendaDiaSoapIn" />
      <wsdl:output message="tns:ConsultaAgendaDiaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpGet">
    <wsdl:operation name="ConsultaAgendaDia">
      <wsdl:input message="tns:ConsultaAgendaDiaHttpGetIn" />
      <wsdl:output message="tns:ConsultaAgendaDiaHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpPost">
    <wsdl:operation name="ConsultaAgendaDia">
      <wsdl:input message="tns:ConsultaAgendaDiaHttpPostIn" />
      <wsdl:output message="tns:ConsultaAgendaDiaHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="ConsultaAgendaDia">
      <soap:operation soapAction="http://tempuri.org/SANITAS_WS/Service1/ConsultaAgendaDia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpGet" type="tns:Service1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ConsultaAgendaDia">
      <http:operation location="/ConsultaAgendaDia" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpPost" type="tns:Service1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ConsultaAgendaDia">
      <http:operation location="/ConsultaAgendaDia" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://10.8.50.31/SANITAS_WS/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpGet" binding="tns:Service1HttpGet">
      <http:address location="http://10.8.50.31/SANITAS_WS/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpPost" binding="tns:Service1HttpPost">
      <http:address location="http://10.8.50.31/SANITAS_WS/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>